[submodule "local-test-validator"]
	path = local-test-validator
	url = git@github.com:Unboxed-Software/jito-restaking-test-validator.git
[submodule "commonware-avs-router-solana"]
	path = commonware-avs-router-solana
	url = git@github.com:Unboxed-Software/commonware-avs-router-solana.git
